{% extends 'vyavasayamapp/base.html' %}

{% block content %}
{% if user.is_authenticated %}
	<h1 class="text-center">Change Password</h1>
	<div class="col-md-6 offset-md-3">
		<form method="POST" action="{% url 'change_password' pk=user.id %}">
			{% csrf_token %}
		  <div class="form-group">
		  	<label class="col-form-label col-form-label-sm" for="email">NewPassword
			</label>
		    <input type="password" class="form-control" placeholder="Enter New Password" name="password" minlength="6" maxlength="12" required>
		  </div>
		  <div class="form-group">
		  	<label class="col-form-label col-form-label-sm" for="email">Confirm Password
			</label>
		    <input type="password" class="form-control" placeholder="Enter Confirm Password" name="password1" minlength="6" maxlength="12" required>
		  </div>
		  <button type="submit" class="btn btn-secondary">Submit</button>
		</form>
	</div>
{% else %}
	<h1>This cannot be accessed Please <a href="{% url 'login' %}">Login</a> First</h1>
{% endif %}

{% endblock %}


